#project-box{ 
display: flex;
justify-content:flex-start;
padding-left: 2rem;
}
#projects-title{
    display: flex;
    justify-content: center;
}
.projects-img{
width: 150px;
height: 150px;
border-radius: 10%;
}