  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

  * {
    font-family: 'Lato', sans-serif;
  }
#navbar {
    display: flex;
    flex-direction: column;
    padding: .25rem;
    font-size: 1.5rem;
    position: sticky;
    background-color: rgb(194, 234, 184);
    border-bottom: solid 3px;
}
#nav-links {
    size: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  #nav-title {
      display: flex;
      justify-content: center;
      font-weight: bolder;
  }
  #nav-box{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  span > a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
  }
  a:hover{
    color: rgb(113, 198, 28);
    zoom: 105%;
  }
  #nav-pic{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  #nav-img{
      border-radius: 50%;
  }
  #stats {
      display: flex;
      justify-content: center;
  }