#navbar {
    display: flex;
    flex-direction: column;
    padding: .25rem;
    font-size: 1.5rem;
    position: sticky;
    background-color: rgb(244, 216, 242);
}
#nav-links {
    size: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  #nav-title {
      display: flex;
      justify-content: center;
  }
  #nav-box{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  span > a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
  }
  a:hover{
    color: whitesmoke;
  }
  #nav-pic{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  #nav-img{
      border-radius: 50%;
  }